<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<body>

 <header id="header"></header>

 <main>
     <header>
         <h1>첫 번째 글</h1>
     </header>
    <aside>
        <p>chang</p>
        <p><a href="chdark1@gmail.com">chdark1@gmail.com</a></p>
        <p><time datetime="2022-01-01T00:00:00">2022-01-01</time> </p>
        <p>#java</p>
    </aside>

    <section>
        <p>본문<br><br></p>

        <div>
            <form>
                <label for="articleComment" hidden>댓굴</label>
                <textarea id="articleComment" placeholder="댓글을 써주세여." rows="3"></textarea>
                <button type="submit"></button>
            </form>

            <ul>
                <li>
                    <div>
                        <time><small>2022-01-01</small></time>
                        <strong>Chang</strong>
                        <p>
                            미리 달린 댓글 예시
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <time><small>2022-01-01</small></time>
                        <strong>Chang</strong>
                        <p>
                            미리 달린 댓글 예시2
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <time><small>2022-01-01</small></time>
                        <strong>Chang</strong>
                        <p>
                            미리 달린 댓글 예시3
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <nav>
            <a href="#">이전 글</a>
            <a href="#">다음 글</a>
        </nav>
    </section>
 </main>

 <footer id="footer"></footer>

</body>
</html>